[submodule "Dependencies/SDL"]
	path = Dependencies/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "Dependencies/VulkanMemoryAllocator"]
	path = Dependencies/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Dependencies/stb"]
	path = Dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "Dependencies/tinygltf"]
	path = Dependencies/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "Dependencies/eigen"]
	path = Dependencies/eigen
	url = https://gitlab.com/libeigen/eigen.git
